# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace

# Dependencies
client/node_modules/
server/node_modules/

# Build output
client/dist/
client/dist-ssr
client/*.local
server/dist/

# Environment variables
client/.env
server/.env

client/.gitignore
server/public/

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*
